<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>OpenHR</title>
    <base href="/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/RegionHR.DesignSystem/css/regionhr.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/openhr-theme.css" />
    <link rel="stylesheet" href="css/accessibility.css" />
    <link rel="stylesheet" href="css/print.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link rel="stylesheet" href="css/performance.css" />
    <link rel="manifest" href="/manifest.json" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <a class="rhr-skip-link" href="#main-content">Hoppa till huvudinnehåll</a>
    <Routes />
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="js/download.js"></script>
    <script src="js/signalr-notifications.js"></script>
    <script>if('serviceWorker' in navigator) navigator.serviceWorker.register('/service-worker.js');</script>
</body>
</html>
